body {
   background-color: rgb(204, 226, 207);
   height: auto;
}

header {
  
  height: 5vh;
}

.timestamp {
    font-size: 11px;
    color: gray;
}

.profileHeader{
    font-size: 16px !important;
}

.date{
    font-size: 12px !important;
}