header {
  color: green;
  background-color: black;
  height: 20vh;
}

.rightColumn {
  display: flex;
  justify-content: center;
  align-content: center;
}

.custFooter{
    background-color: black;
}

.headerDiv{
    background-image: url("./images/kwitter_logo.png") !important;
}