body {
   background-color: #8EE4AF;
   height: auto;
}

header {
  
  height: 5vh;
}

.timestamp {
    font-size: 11px;
    color: gray;
}

.profileHeader{
    font-size: 16px !important;
}

.date{
    font-size: 12px !important;
}

.teamName{
    font-size: 16px;
}

.developers {
    font-weight: bold;
}

.address {
    font-size: 11px;
    color: gray;
}

.wordwrap {
    word-wrap: break-word;
}